#footer{
	padding: 8px 0;
	background: #dedede;
	@include breakpoint($mobile) {
		padding: 15px 0;
		text-align: center;
	}
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include breakpoint($mobile) {
			flex-direction: column-reverse;
		}
	}
	.copyright{
		margin: 0 20px 0 0;
		text-transform: uppercase;
	}
	.footer-content{
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		justify-content: flex-start;
		@include breakpoint($mobile) {
			margin: 0 0 20px;
			align-items: center;
		}
		@include breakpoint($mobile-small) {
			margin-bottom: 14px;
		}
	}
	.footer-main-content{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@include breakpoint($mobile) {
			display: block;
		}
	}
	.socials{
		margin: 0 0 13px;
		img{
			display: block;
		}
	}
}

.footer-list{
	padding: 0;
	display: flex;
	margin: 0 -8px;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
	white-space: nowrap;
	justify-content: flex-end;
	@include breakpoint($mobile) {
		justify-content: center;
	}
	@include breakpoint($mobile-small) {
		flex-direction: column;
	}
	> li{
		margin: 0 8px;
		@include breakpoint($mobile-small) {
			margin-bottom: 15px;
		}
	}
}